{% extends 'master.html' %}
{% block title %}
    Home page
{% endblock %}

{% block content %}

    <div class="box">
        <h2>Predict the Diabetic</h2>
        <form action="/sub" method="POST">

            <!-- preg,plgluco,distolicBP,Trithk,insuline,bmi,diapedgr,age -->
            
            <div  class="inputBox">
                <input type="number" class="form-control" name="preg" placeholder="No. of Pregnencies">
                <input type="number" step="any" class="form-control" name="plgluco" placeholder="PlasmaGlucose">                 
                <input type="number"  class="form-control" name="distolicBP" placeholder="Distolic BP">
                <input type="number" step="any" class="form-control" name="Trithk" placeholder="Tricep Thickness">
                <input type="number" step="any" class="form-control" name="insuline" placeholder="SerumInsulin">                 
                <input type="number" step="any" class="form-control" name="bmi" placeholder="BMI">   
                <input type="number" step="any" class="form-control" name="diapedgrs" placeholder="Diabetes Pedigree">                 
                <input type="number"  class="form-control" name="age" placeholder="Age">   

            </div>


            <button type="submit"  class="btn btn-outline-light">Predict</button>

        </form>
    </div>

{% endblock %}
    